:root{
    --height: 195mm;
    --width: 120mm;
}

/* ------------------------------------ Common pages */

@page{ 
    size: var(--height) var(--width); 
    margin: 5mm 15mm 25mm 20mm;
}


/* ------------------------------------ Cover page */

@page cover { 
    margin: 2cm;
    @bottom-left {
        content: none;
    }
}
header.cover-section {
    page: cover;

}

/* ------------------------------------ warning page */

@page warning { 
    margin: 2cm;
    @bottom-left {
        content: none;
    }
}
section.warning-section {
    page: warning;

}

/* ------------------------------------ TOC page */

@page toc { 
    
}
section.toc-section {
    page: toc;
}

@page toc :left {
    margin: 15mm 15mm 15mm 15mm;
    @left-middle {
        content: none;
    }
}

@page toc :right {
    margin: 15mm 15mm 15mm 15mm;
    @right-middle {
        content: none;
    }
}


/* ------------------------------------ Text pages */


section.text-section {
    page:  text;
    break-before: right 
}

@page text :left {
    margin: 5mm 20mm 25mm 15mm;
    @left-middle {
        text-align: center;
        content: counter(page);
        font-size: 9pt;
        font-family: 'Franklin';
        font-weight: 700;
        align-items: flex-start;
    }
}
@page text :right {
    margin: 5mm 15mm 25mm 20mm;
    @right-middle {
        text-align: center;
        content: counter(page);
        font-size: 9pt;
        font-family: 'Franklin';
        font-weight: 700;
        align-items: flex-start;
    }
}
/* ------------------------------------ Warning page */


@page warning :left {
    margin: 2cm 4cm 2cm 4cm;
    @bottom-left {
        content: none;
    }
}
section.warning-section{
    page:  warning;
    break-before: right
}
/* ------------------------------------ Images page */


@page image{
    margin: 0pt;
    @bottom-left {
        content: none;
    }
}
section.image-section{
    page:  image;
    break-before: left;
    break-after: left;
}

@page grid{
    margin: 0pt;
    @bottom-left {
        content: none;
    }
}
section.grid-section{
    page:  grid;
    /* break-before: left;
    break-after: left; */
}

* { box-sizing: border-box; }

body{

    font-family: 'Franklin';
    font-size: 9pt;
    line-height: 1.5;
    color: rgba(0,0,0,.85);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "lnum" 1, "pnum" 1, "kern" 1, "liga" 1;
    }

a {
    color: #000; 
    text-decoration: none;
}

section p:first-of-type {
    margin-top: 0;
}

header h1 {
    font-size: 36pt;
    font-weight: 900;
}
header h1 span {
    border-bottom: .2em solid;
    }
header h2 {
    font-weight: 400;
    font-size: 12pt;
}

/* ------------------------------------------------ Warning */
.warning{
    width: 50%;
    font-size: 8pt;
}
.warning h3,
.warning p {
    padding-left: 2.5rem;
}
.warning .warning-text {
    padding-left: 0;
}

/* ------------------------------------------------ TOC */

.toc p {
    break-inside: avoid;
    padding-left: 3em;
    position: relative;
    font-size: 8pt;
}
.toc span { 
    display: block;
    width: 3em;
    float: left;
    font-weight: bold;

}
.toc a::before{
    content: target-counter(attr(href), page);
    position: absolute;
    /* color: var(--red); */
    left: 0;
    text-align: left;
}
.grid-content #toc-1{
    grid-column: 3 / span 4;
    grid-row: 4 / span 3;
}

.grid-content #img-11 {
    grid-column: 1 / span 5;
    grid-row: 6 / span 3;
}
.grid-content #toc-2 {
    grid-column: 2 / span 4;
    grid-row: 9 / span 3;
}
.grid-content #toc-3 {
    grid-column: 2 / span 4;
    grid-row: 2 / span 3;
}
.grid-content #toc-4 {
    grid-column: 3 / span 4;
    grid-row: 4 / span 3;
}
.grid-content #img-12 {
    grid-column: 1 / span 4;
    grid-row: 6 / span 3;
}
.grid-content #toc-5 {
    grid-column: 2 / span 4;
    grid-row: 9 / span 3;
}
.grid-content #toc-6 {
grid-column: 2 / span 4;
    grid-row: 2 / span 3;
}
.grid-content #toc-7 {
grid-column: 3 / span 4;
    grid-row: 4 / span 2;
}
.grid-content #img-13 {
    grid-column: 5 / span 3;
    grid-row: 6 / span 2;
}
.grid-content #toc-8 {
grid-column: 2 / span 4;
    grid-row: 9 / span 3;
}
.grid-content #toc-9 {
    grid-column: 2 / span 4;
    grid-row: 2 / span 3;
}
.grid-content #toc-10 {
    grid-column: 3 / span 4;
    grid-row: 6 / span 3;
}
.grid-content #img-14 {
    grid-column: 2 / span 4;
    grid-row: 8 / span 3;
}
/* ------------------------------------------------ Image */

.image-section{
    background: #ff0569;
}
.full-page-image img {
    filter: grayscale(1);
    mix-blend-mode: multiply;
    }

/* full spread image cover trick */
.full-page-image {
    width: var(--width);
    height: var(--height);
    overflow: hidden;
}
.full-page-image div:first-child {
    width: calc(var(--width) * 2);
    height: var(--height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagedjs_right_page .full-page-image div:first-child {
    margin-left: calc(-1 * var(--width));
}

.full-page-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ------------------------------------------------ Grids */

:root{
    --red: #ff0569;
}
.red {
    background: var(--red);
}
.red img {
    filter: grayscale(1);
    mix-blend-mode: multiply;
    }
.grid-content{
    display: grid;
    grid-template-columns: 10mm repeat(5, 1fr) 10mm;
    grid-template-rows: 10mm repeat(10, 1fr) 10mm;
    grid-column-gap: 3mm;
    grid-row-gap: 3mm;
    height: var(--height);
}
.grid-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-content div {
    grid-column: 2 / span 3;
    grid-row: 2 / span 2;
}

.grid-content #img-1 {
    grid-column: 1 / span 5;
    grid-row: 3 / span 4;
}
.grid-content #img-2 {
    grid-column: 2 / span 2;
    grid-row: 7 / span 2;
}
.grid-content #img-3 { 
    grid-column: 4 / span 4;
    grid-row: 7 / span 3;
} 
.grid-content #img-6 { 
    grid-column: 1 / span 7;
    grid-row: 1 / span 12;
} 

.grid-content #img-10 {
    grid-column: 2 / span 5;
    grid-row: 6 / span 4;
}
.grid-content #img-8 { 
    grid-column: 4 / span 4;
    grid-row: 3 / span 3;
} 
.grid-content #img-9 { 
    grid-column: 1 / span 3;
    grid-row: 2 / span 2;
} 


.grid-content #img-15 {
    grid-column: 3 / span 5;
    grid-row: 8 / span 4;
}
.grid-content #img-16 { 
    grid-column: 1 / span 4;
    grid-row: 4 / span 3;
} 
.grid-content #img-17 { 
    grid-column: 3 / span 3;
    grid-row: 2 / span 2;
} 

.grid-content #img-18 { 
    grid-column: 1 / span 4;
    grid-row: 4 / span 3;
} 
.grid-content #img-19 { 
    grid-column: 3 / span 3;
    grid-row: 2 / span 2;
} 

.grid-content #img-22 { 
    grid-column: 2 / span 6;
    grid-row: 4 / span 4;
} 


.grid-content #img-23 { 
    grid-column: 2 / span 6;
    grid-row: 5 / span 4;
} 
.grid-content #img-24 { 
    grid-column: 1 / span 3;
    grid-row: 2 / span 2;
} 

.section-id {
    position: absolute;
    font-size: 72pt;
    
    color: white;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 5mm 15mm 25mm 20mm;
    font-weight: bold;
}
/* ------------------------------------------------ Text */

.text-section h1{
    font-size: 30pt;
    float: left;
    width: 25%;
    line-height: .9;
    margin: 0 0 .25em;
}

.text-section p {
    text-indent: 3em;
    margin: 0;
}
.text-section h1 + p {
    margin-top: 2cm;
    text-indent: 0;
}